.book-list-container {
    padding: 2rem;
  }
  
  .book-list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list-container li {
    margin: 0.5rem 0;
  }
  
  .book-list-container a {
    text-decoration: none;
    color: #007bff;
  }
  
  .book-list-container a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
  }